In [34]:
import pandas as pd

# Sample orders data
orders_data = {
    "OrderID": [1, 2, 3],
    "UserID": [101, 102, 101],
    "City": ["Hyderabad", "Mumbai", "Hyderabad"],
    "OrderAmount": [250, 300, 150],
    "RestaurantID": [201, 202, 203],
    "Membership": ["Gold", "Silver", "Gold"],
    "RestaurantRating": [4.6, 4.2, 4.8]
}

orders_df = pd.DataFrame(orders_data)
orders_df.to_csv("final_food_delivery_dataset.csv", index=False)

# Now you can run all your code on this CSV
print(orders_df)

   OrderID  UserID       City  OrderAmount  RestaurantID Membership  \
0        1     101  Hyderabad          250           201       Gold
1        2     102     Mumbai          300           202     Silver
2        3     101  Hyderabad          150           203       Gold

   RestaurantRating
0               4.6
1               4.2
2               4.8

In [35]:
print(orders_df.columns)

Index(['OrderID', 'UserID', 'City', 'OrderAmount', 'RestaurantID',
       'Membership', 'RestaurantRating'],
      dtype='object')

In [36]:
print(orders_df.head())

   OrderID  UserID       City  OrderAmount  RestaurantID Membership  \
0        1     101  Hyderabad          250           201       Gold
1        2     102     Mumbai          300           202     Silver
2        3     101  Hyderabad          150           203       Gold

   RestaurantRating
0               4.6
1               4.2
2               4.8

In [38]:
import pandas as pd

# Load the CSV file into a DataFrame using the correct method read_csv
df = pd.read_csv('final_food_delivery_dataset.csv')

# Print the DataFrame
print(df)

   OrderID  UserID       City  OrderAmount  RestaurantID Membership  \
0        1     101  Hyderabad          250           201       Gold
1        2     102     Mumbai          300           202     Silver
2        3     101  Hyderabad          150           203       Gold

   RestaurantRating
0               4.6
1               4.2
2               4.8

In [39]:
#print final_food_delivery_dataset.csv file
print(df)

   OrderID  UserID       City  OrderAmount  RestaurantID Membership  \
0        1     101  Hyderabad          250           201       Gold
1        2     102     Mumbai          300           202     Silver
2        3     101  Hyderabad          150           203       Gold

   RestaurantRating
0               4.6
1               4.2
2               4.8

In [41]:
df = pd.read_csv("final_food_delivery_dataset.csv")
print(df.head())

   OrderID  UserID       City  OrderAmount  RestaurantID Membership  \
0        1     101  Hyderabad          250           201       Gold
1        2     102     Mumbai          300           202     Silver
2        3     101  Hyderabad          150           203       Gold

   RestaurantRating
0               4.6
1               4.2
2               4.8

In [4]:
import pandas as pd

# Load the dataset from the CSV file
df = pd.read_csv('final_food_delivery_dataset.csv')

# Equivalent to: SELECT COUNT(*) FROM df WHERE LOWER(membership) = 'gold'
gold_count = df[df['membership'].str.lower() == 'gold'].shape[0]

print(f'Total Gold Members: {gold_count}')

Total Gold Members: 4987

In [6]:
import pandas as pd

# Load the dataset (using the filename from your previous cell)
df = pd.read_csv("final_food_delivery_dataset.csv")

# Standardize column names or check for existence
# Based on the previous cell, we use 'city' and 'total_amount'
if 'city' in df.columns:
    # Filter orders for Hyderabad
    hyderabad_orders = df[df['city'].str.lower() == 'hyderabad']

    # Calculate total revenue using 'total_amount'
    total_revenue = hyderabad_orders['total_amount'].sum()

    # Round to nearest integer
    total_revenue_rounded = round(total_revenue)

    print("Total revenue from Hyderabad:", total_revenue_rounded)
else:
    print("Error: 'city' column not found. Available columns are:", df.columns.tolist())

Total revenue from Hyderabad: 1889367

In [8]:
import pandas as pd

# Load the correct dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Check if 'user_id' exists and count distinct users
if 'user_id' in df.columns:
    distinct_users = df['user_id'].nunique()
    print("Number of distinct users:", distinct_users)
else:
    print(f"Error: 'user_id' column not found. Available columns are: {df.columns.tolist()}")

Number of distinct users: 2883

In [10]:
import pandas as pd

# Load your dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter orders for Gold members using the correct column name 'membership'
gold_orders = df[df['membership'].str.lower() == 'gold']

# Calculate average order value using the correct column name 'total_amount'
average_order_value = gold_orders['total_amount'].mean()

# Round to 2 decimals
average_order_value_rounded = round(average_order_value, 2)

print("Average order value for Gold members:", average_order_value_rounded)

Average order value for Gold members: 797.15

In [12]:
import pandas as pd

df = pd.read_csv("orders.csv")  # replace with your file name

# See all column names
print(df.columns)

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name'],
      dtype='object')

In [16]:
import pandas as pd

# Load the correct dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Identify the rating column (e.g., 'rating' or 'restaurant_rating')
rating_cols = [col for col in df.columns if 'rating' in col.lower()]

if rating_cols:
    rating_col = rating_cols[0]
    # Filter orders with rating >= 4.5
    high_rating_orders = df[df[rating_col] >= 4.5]
    num_orders = len(high_rating_orders)
    print(f"Found rating column: '{rating_col}'")
    print("Number of orders for restaurants with rating ≥ 4.5:", num_orders)
else:
    print("Error: No column containing 'rating' found. Available columns are:", df.columns.tolist())

Found rating column: 'rating'
Number of orders for restaurants with rating ≥ 4.5: 3374

In [22]:
import pandas as pd

# Load the correct dataset to ensure the 'city' and 'membership' columns are available
df = pd.read_csv('final_food_delivery_dataset.csv')

# Step 1: Find the top revenue city
# Group by 'city' and sum 'total_amount'
top_city = df.groupby('city')['total_amount'].sum().idxmax()
print("Top revenue city:", top_city)

# Step 2: Filter orders for Gold members in that city
gold_top_city_orders = df[(df['city'].str.lower() == top_city.lower()) &
                          (df['membership'].str.lower() == 'gold')]

# Step 3: Count number of orders
num_orders = len(gold_top_city_orders)
print(f"Number of orders in {top_city} by Gold members: {num_orders}")

Top revenue city: Bangalore
Number of orders in Bangalore by Gold members: 1254

In [23]:
import pandas as pd

# Example orders dataset
orders_data = {
    'OrderID': [1, 2, 3, 4],
    'UserID': [101, 102, 103, 104],
    'OrderAmount': [250, 400, 150, 300]
}
orders = pd.DataFrame(orders_data)

# Example users dataset (JSON-like)
users_data = [
    {'UserID': 101, 'Name': 'Alice'},
    {'UserID': 102, 'Name': 'Bob'},
    {'UserID': 104, 'Name': 'David'}
]
users = pd.DataFrame(users_data)

# Merge orders with users on UserID (left join)
merged_df = orders.merge(users, on='UserID', how='left')

print("Merged dataset:\n", merged_df)

Merged dataset:
    OrderID  UserID  OrderAmount   Name
0        1     101          250  Alice
1        2     102          400    Bob
2        3     103          150    NaN
3        4     104          300  David

In [26]:
# 1. Define the restaurants DataFrame
restaurants_data = {
    'RestaurantID': [101, 102, 103, 104],
    'RestaurantName': ['Pizza Palace', 'Burger Bar', 'Pasta Place', 'Taco Town']
}
restaurants = pd.DataFrame(restaurants_data)

# 2. Add a RestaurantID column to your existing 'orders' DataFrame so they can merge
orders['RestaurantID'] = [101, 102, 101, 103]

# 3. Now perform the merge
merged_df = orders.merge(restaurants, on='RestaurantID', how='left')

print("Merged with restaurants:\n", merged_df)

Merged with restaurants:
    OrderID  UserID  OrderAmount  RestaurantID RestaurantName
0        1     101          250           101   Pizza Palace
1        2     102          400           102     Burger Bar
2        3     103          150           101   Pizza Palace
3        4     104          300           103    Pasta Place

In [27]:
merged_df = orders.merge(restaurants, on='RestaurantID', how='left')
# Now merged_df['Cuisine'] tells the type of food for each order

In [28]:
merged_df = orders.merge(users, on='UserID', how='left')
# If UserID 101 has 3 orders, their details appear in 3 rows

In [30]:
import pandas as pd
import json

# Load orders dataset
orders_df = pd.read_csv("orders.csv")

# Load users dataset from JSON
with open("users.json", "r") as f:
    users_data = json.load(f)

users_df = pd.json_normalize(users_data)  # flatten JSON to dataframe

# Merge datasets on user_id (using the correct lowercase name)
merged_df = pd.merge(orders_df, users_df, on="user_id", how="left")

# Get total number of rows in the merged dataset
total_rows = merged_df.shape[0]

print("Total number of rows in merged dataset:", total_rows)

Total number of rows in merged dataset: 10000

In [31]:
import pandas as pd
import json

# Load the JSON file
with open("users.json", "r") as f:  # replace with your file name
    data = json.load(f)

# Flatten JSON to a DataFrame (handles nested structures)
df = pd.json_normalize(data)

# Display the first few rows to see cuisine and rating columns
print(df.head())

# Optional: Check which columns contain cuisine or rating info
print("Columns in dataset:", df.columns)

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold
Columns in dataset: Index(['user_id', 'name', 'city', 'membership'], dtype='object')

In [33]:
import pandas as pd
import json

# Load orders dataset
orders_df = pd.read_csv("orders.csv")

# Load users dataset from JSON
with open("users.json", "r") as f:
    users_data = json.load(f)

users_df = pd.json_normalize(users_data)  # flatten JSON to dataframe

# The column used for joining (corrected to lowercase)
join_column = "user_id"

# Merge datasets on user_id
merged_df = pd.merge(orders_df, users_df, on=join_column, how="left")

# Check first few rows of merged dataset
print(merged_df.head())
print(f"The column used to join orders.csv and users.json is '{join_column}'")

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name       name       city membership
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular
The column used to join orders.csv and users.json is 'user_id'